{% extends 'base.html.twig' %}

{% block body %}
    <h1>Airplanes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Prodyear</th>
                <th>Manufacturer</th>
                <th>Model</th>
                <th>Maxpassengers</th>
                <th>Maxload</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for airplane in airplanes %}
            <tr>
                <td><a href="{{ path('airplane_show', { 'id': airplane.id }) }}">{{ airplane.id }}</a></td>
                <td>{{ airplane.name }}</td>
                <td>{{ airplane.prodYear }}</td>
                <td>{{ airplane.manufacturer }}</td>
                <td>{{ airplane.model }}</td>
                <td>{{ airplane.maxPassengers }}</td>
                <td>{{ airplane.maxLoad }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('airplane_show', { 'id': airplane.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('airplane_edit', { 'id': airplane.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('airplane_new') }}">Create a new airplane</a>
        </li>
    </ul>
{% endblock %}
