{% extends 'base.html.twig' %}
{% block body %}
    <!DOCTYPE html>
    <html>
<head>
    <style>
        .column {
            float: left;
            width: 50%;
        }
    </style>


    <div class="row">
        <div class="column">
            <h1>Airplanes list</h1>

            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Prod. year</th>
                    <th>Manufacturer</th>
                    <th>Model</th>
                    <th>Max passengers</th>
                    <th>Max load</th>
                </tr>
                </thead>
                <tbody>
                {% for airplane in airplanes %}
                    <tr>
                        <td>{{ airplane.name }}</td>
                        <td>{{ airplane.prodYear }}</td>
                        <td>{{ airplane.manufacturer }}</td>
                        <td>{{ airplane.model }}</td>
                        <td>{{ airplane.maxPassengers }}</td>
                        <td>{{ airplane.maxLoad }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="column">
            <h1>Flights list</h1>

            <table class="table">
                <thead>
                <tr>
                    <th>Departure airport</th>
                    <th>Arrival airport</th>
                    <th>Flight time</th>
                </tr>
                </thead>
                <tbody>
                {% for flight in flights %}
                    <tr>
                        <td>{{ flight.departAirport }}</td>
                        <td>{{ flight.arrivalAirport }}</td>
                        <td>{{ flight.flightTime }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

{% endblock %}