{% extends 'base.html.twig' %}

{% block body %}
    <h1>Flights list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Departure airport</th>
                <th>Arrival airport</th>
                <th>Flight time</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for flight in flights %}
            <tr>
                <td><a href="{{ path('flight_show', { 'id': flight.id }) }}">{{ flight.id }}</a></td>
                <td>{{ flight.departAirport }}</td>
                <td>{{ flight.arrivalAirport }}</td>
                <td>{{ flight.flightTime }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('flight_show', { 'id': flight.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('flight_edit', { 'id': flight.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('flight_new') }}"class="btn btn-info" role="button">Create a new flight</a>

{% endblock %}
